.section-heading,
.blog-post h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.blog-post img {
  max-width: 100%;
  height: auto;
}

.blog-post img + span {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    color: #6c757d;
}